body {
    background-color: rgba(0, 0, 0, 0.795);
    font-family: Roboto, sans-serif;
    color: white;
}

.movie-image {
    width: 320px;
    height: 180px;
}

.list-header {
    font-size: 25px;
}

.container-movies {
    width: 1250px;
}

.carousel-arrow {
  color: white;  
  font-size: 30px;
  line-height: 0.8;
}

.carousel-button {
    z-index: 1;
}

.carousel-container {
    background: #646464;
    border-radius: 5px;
}

.main-preview {
    width: 100%;
    height: 40vh;
}

.main-image {
    width: 100%;
    height: 50vh;
    position: absolute;
}